@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: poppins;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #394d59;
  color: #ccc;
}

.card-container {
  background-color: #44576d;
  padding: 24px 30px;
  border: none;
  border-radius: 10px;
  width: 500px;
}

.card-container .header {
  margin-bottom: 20px;
}

.card-container .header h1 {
  font-size: 24px;
  text-align: center;
}

.card-container .header p {
  font-size: 17px;
  letter-spacing: 1px;
  margin: 4px;
}

.card-container .questions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.card-container .questions li {
  background-color: #5f7888;
  padding: 16px;
  border-radius: 10px;
  font-size: 16px;
  /* color: white; */
  transition: background-color 0.5s ease;
}
.card-container .questions li:hover {
  color: white;
  background-color: rgb(194, 114, 100);
}

button {
  margin-top: 25px;
  padding: 15px 40px;
  border: transparent;
  border-radius: 15px;
  background-color: #6b8595;
  font-size: 17px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto 0 auto;
}
button:hover {
  background-color: #394d59;
  color: wheat;
}

.correct {
  border: 2px solid green;
  color: green;
}

.incorrect {
  border: 2px solid rgb(210, 47, 47);
  color: rgb(208, 35, 35);
}
